html {
  height: 100%; 
  //background-image: url(../images/Mountains-adam-zvanovec.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {  
  background: transparent;
}


/******************
      HEADER
******************/
.middleCenter {
  position: fixed;
  top: 50%;
  left: 25%;
  margin-top: -100px;
  margin-left: -20%;
}
#title { 
  font-size: 41px;
  letter-spacing: 5px;
  text-align: center;
  font-family: 'Abril Fatface', cursive;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -ms-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
  //-webkit-animation-iteration-count: infinite;
}

#title:hover {
  cursor: pointer;
  //-webkit-animation-iteration-count: infinite;
}
