body, html {
  height: 100%; }

a {
  color: #7b182a;
  transition: color 0.25s ease; }

a:hover,
a:active,
a.visited {
  color: #D4A017;
  text-decoration: none; }

.parallax_section {
  height: 800px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: 100% auto;
  position: relative; }

.visible:after {
  content: "";
  background: url("../images/john-towner.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  z-index: -1;
  -webkit-animation: bgFade 1s 0.3s forwards;
  -moz-animation: bgFade 1s 0.3s forwards;
  -o-animation: bgFade 1s 0.3s forwards;
  animation: bgFade 1s 0.3s forwards; }

/******************
      HEADER
******************/
.parallax_image_first {
  overflow: hidden; }

.middleCenter {
  position: fixed;
  top: 25%;
  left: 26%; }

#title {
  font-size: 59px;
  letter-spacing: 5px;
  color: #D4A017;
  font-family: 'Abril Fatface', cursive;
  -webkit-animation-duration: 1.5s;
  -moz-animation-duration: 1.5s;
  -ms-animation-duration: 1.5s;
  -o-animation-duration: 1.5s;
  animation-duration: 1.5s; }

#title:hover {
  cursor: pointer; }

/******************
      CONTACT
******************/
#contact {
  font-size: 59px;
  letter-spacing: 5px;
  text-align: center;
  font-family: 'Abril Fatface', cursive;
  animation: shwText 7s infinite 500ms; }

.contactInfo {
  color: #7b182a;
  border-top: double;
  border-bottom: double;
  background-color: rgba(6, 19, 62, 0.4);
  animation: shwBox 7s infinite 500ms; }
  .contactInfo span {
    margin-left: 49%;
    font-size: 25px; }
  .contactInfo p {
    text-align: center; }

.parallax_image_second {
  max-height: 400px;
  background-color: rgba(6, 19, 62, 0); }
  .parallax_image_second h2 {
    margin-top: 0; }

/******************
      BIOGRAPHY
******************/
img {
  max-width: 100%;
  border-radius: 10%;
  opacity: 0.90; }

#about {
  position: fixed;
  cursor: pointer;
  color: #D4A017;
  font-size: 30px;
  margin-top: 15px;
  margin-left: 93%; }

.modal.right .modal-dialog {
  position: fixed;
  margin: auto;
  width: 320px;
  height: 100%;
  -webkit-transform: translate3d(0%, 0, 0);
  -ms-transform: translate3d(0%, 0, 0);
  -o-transform: translate3d(0%, 0, 0);
  transform: translate3d(0%, 0, 0); }

.modal.right .modal-content {
  height: 100%;
  overflow-y: auto; }

.modal.right .modal-body {
  padding: 15px 15px 80px; }

.modal.right.fade .modal-dialog {
  right: -320px;
  -webkit-transition: opacity 1s  linear, right 1s  ease-out;
  -moz-transition: opacity 1s linear, right 1s ease-out;
  -o-transition: opacity 1s linear, right 1s ease-out;
  transition: opacity 1s linear, right 1s  ease-out; }

.modal.right.fade.in .modal-dialog {
  right: 0; }

/* ----- MODAL STYLE ----- */
.modal-content {
  border-radius: 0;
  border: none;
  color: #F75050;
  background-color: rgba(6, 19, 62, 0.4); }

.fade {
  background-color: rgba(10, 113, 104, 0.1); }

.modal-header {
  border-bottom-color: #c7953f;
  background-color: #401e39; }

/******************
      KEYFRAMES
******************/
@keyframes bgFade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes shwText {
  50% {
    text-shadow: 0px 0px 17px #7b182a; } }
@keyframes shwBox {
  50% {
    box-shadow: inset 0 0 13px #7b182a; } }
/******************
    MEDIA QUERIES
******************/
@media only screen and (max-width: 1032px) {
  .middleCenter {
    left: 22%; } }
@media only screen and (max-width: 830px) {
  .parallax_section {
    height: 1025px; }

  .parallax_image_second {
    max-height: 350px; }

  .middleCenter {
    left: 9%; } }
@media only screen and (max-width: 711px) {
  #title, #contact {
    font-size: 41px;
    letter-spacing: 2px; } }
@media only screen and (max-width: 414px) {
  #title, #contact {
    font-size: 31px;
    letter-spacing: 2px; }

  #about {
    margin-left: 85%; }

  .contactInfo span {
    margin-left: 47%; }

  .modal-content {
    border-radius: 0;
    border: none; }

  .middleCenter {
    left: 12%; } }
@media only screen and (max-width: 375px) {
  #title, #contact {
    font-size: 25px; }

  .contactInfo span {
    font-size: 20px; }

  .middleCenter {
    left: 14%; } }
@media only screen and (max-width: 320px) {
  .middleCenter {
    left: 30px; }

  .parallax_image_second {
    max-height: 300px; } }

/*# sourceMappingURL=main.css.map */
