body, html {
  background: url("../images/john-towner-min.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

a {
  color: #7b182a;
  transition: color 0.25s ease; }

a:hover,
a:active,
a.visited {
  color: #D4A017;
  text-decoration: none; }

#overlay {
  background-color: #fff;
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 4999;
  top: 0;
  left: 0;
  float: left;
  text-align: center;
  padding-top: 25%; }

/******************
      HEADER
******************/
.middleCenter {
  position: fixed;
  top: 25%;
  left: 26%; }

#iFrame {
  text-align: center;
  margin-top: 300px; }

#title {
  font-size: 59px;
  letter-spacing: 5px;
  color: #D4A017;
  z-index: 50001;
  font-family: 'Abril Fatface', cursive;
  -webkit-animation-duration: 1.5s;
  -moz-animation-duration: 1.5s;
  -ms-animation-duration: 1.5s;
  -o-animation-duration: 1.5s;
  animation-duration: 1.5s; }

/******************
      CONTACT
******************/
#contact {
  font-size: 59px;
  letter-spacing: 5px;
  text-align: center;
  font-family: 'Abril Fatface', cursive;
  -webkit-animation: shwText 7s infinite 500ms;
  -moz-animation: shwText 7s infinite 500ms;
  -o-animation: shwText 7s infinite 500ms;
  animation: shwText 7s infinite 500ms; }

.contactInfo {
  color: #7b182a;
  border-top: double;
  border-bottom: double;
  position: absolute;
  right: 0;
  bottom: 3px;
  left: 0;
  padding: 1rem;
  background-color: rgba(6, 19, 62, 0.4);
  -webkit-animation: shwBox 7s infinite 500ms;
  -moz-animation: shwBox 7s infinite 500ms;
  -o-animation: shwBox 7s infinite 500ms;
  animation: shwBox 7s infinite 500ms; }
  .contactInfo span {
    margin-left: 49%;
    font-size: 25px; }
  .contactInfo span:hover {
    text-shadow: 0px 0px 10px #D4A017; }
  .contactInfo p {
    text-align: center; }

/******************
      BIOGRAPHY
******************/
#proPic {
  max-width: 100%;
  border-radius: 8px;
  opacity: 0.90;
  background: #fff;
  border: 5px solid #fff;
  box-shadow: 0 1px 1px rgba(136, 153, 166, 0.15);
  height: 250px;
  width: 250px; }

#about {
  position: fixed;
  cursor: pointer;
  color: #D4A017;
  font-size: 30px;
  margin-top: 15px;
  margin-left: 93%;
  top: 0px; }

.modal.right .modal-dialog {
  position: fixed;
  margin: auto;
  width: 320px;
  height: 100%;
  -webkit-transform: translate3d(0%, 0, 0);
  -ms-transform: translate3d(0%, 0, 0);
  -o-transform: translate3d(0%, 0, 0);
  transform: translate3d(0%, 0, 0); }

.modal.right .modal-content {
  height: 100%;
  overflow-y: auto; }

.modal.right .modal-body {
  padding: 15px 15px 80px; }

.modal.right.fade .modal-dialog {
  right: -320px;
  -webkit-transition: opacity 1s  linear, right 1s  ease-out;
  -moz-transition: opacity 1s linear, right 1s ease-out;
  -o-transition: opacity 1s linear, right 1s ease-out;
  transition: opacity 1s linear, right 1s  ease-out; }

.modal.right.fade.in .modal-dialog {
  right: 0; }

/* ----- MODAL STYLE ----- */
.modal-content {
  border-radius: 0;
  border: none;
  color: #F75050;
  background-color: rgba(6, 19, 62, 0.4); }

.fade {
  background-color: rgba(10, 113, 104, 0.1); }

.modal-header {
  border-bottom-color: #c7953f;
  background-color: #401e39; }
  .modal-header .close {
    opacity: 1;
    text-shadow: none;
    color: #D4A017; }
  .modal-header .close:focus, .modal-header .close:hover {
    text-decoration: none;
    cursor: pointer;
    filter: alpha(opacity=50);
    opacity: .5; }

/******************
      KEYFRAMES
******************/
@keyframes bgFade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes shwText {
  50% {
    text-shadow: 0px 0px 17px #7b182a; } }
@keyframes shwBox {
  50% {
    box-shadow: inset 0 0 13px #7b182a; } }
/******************
    MEDIA QUERIES
******************/
@media only screen and (max-width: 1032px) {
  .middleCenter {
    left: 22%; } }
@media only screen and (max-width: 830px) {
  .parallax_section {
    height: 1025px; }

  .parallax_image_second {
    max-height: 350px; }

  .middleCenter {
    left: 9%; } }
@media only screen and (max-width: 711px) {
  #title, #contact {
    font-size: 41px;
    letter-spacing: 2px; }

  body, html {
    height: 100%;
    background: url("../images/john-towner-min.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; } }
@media only screen and (max-width: 414px) {
  #title, #contact {
    font-size: 31px;
    letter-spacing: 2px; }

  #about {
    margin-left: 85%; }

  .contactInfo span {
    margin-left: 47%; }

  .modal-content {
    border-radius: 0;
    border: none; }

  .middleCenter {
    left: 12%; } }
@media only screen and (max-width: 375px) {
  #title, #contact {
    font-size: 25px; }

  .contactInfo span {
    font-size: 20px; }

  .middleCenter {
    left: 14%; } }
@media only screen and (max-width: 320px) {
  .middleCenter {
    left: 30px; }

  .parallax_image_second {
    max-height: 300px; } }

/*# sourceMappingURL=main.css.map */
